@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Your default theme */
    --background: white;
    --foreground: black;
    --bg-btn: black;
    --text-btn: white;
    --bg-board: rgb(249 250 251 / 1);
    --text-board: rgb(17 24 39 / 1);
  }

  .dark {
    --background: black;
    --foreground: white;
    --bg-btn: white;
    --text-btn: black;
    --bg-board: rgb(45 45 45 / 1);
    --text-board: rgb(233 233 233 / 1);
  }
}


html, body, :root {
  height: 100%;
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
